body {
    margin: 0;
    background-color: #131313;
}

.screen,
.inv {
    border: 10px solid white;
    border-radius: 5px;
    height: 100vh;
}

.screen {
    display: flex;
    align-items: flex-end;
    border-left: none;
}

.inv {
    padding: 3px;
    border-right: none;
}

.text {
    border: 5px solid white;
    border-radius: 5px;
    height: 25vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inv-top {
    padding-top: 10px;
}