body {
    margin: 0;
    background-color: #131313;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    height: 100vh;
}

.loading-container {
    text-align: center;
    width: 300px;
    position: relative;
}

.front {
    position: absolute;
    height: 8px;
    background-color: rgb(40, 158, 213);
    width: 0%;
    border-radius: 5px;
    border: none;

}

.back {
    position: absolute;
    height: 8px;
    background-color: lightgrey;
    width: 100%;
    border-radius: 5px;
    border: none;

}

.title-screen {
    display: none;
}

.start {
    margin: 0 auto;
}

.backBtnContainer {
    position: fixed;
    display: block;
    top: 10px;
    left: 10px;
     height: 30px;
    width: 60px;
}

.file-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px white solid;
    height: 32vh;
    width: 20vh;

}

.start-screen {
    /* display: none; */
    gap: 50px;
    text-align: center;
    padding: 20px;
    height: 200px;
    width: 500px;
    border: 5px white solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-screen {
    color: wheat;
}
.file {
    border: 2px white solid;
}